<div class="main">
  <%@data.each do |d|%>
    <p><%#= d.group_name%></p>
    <%#=link_to d.event_title, d.link_url%>
  <%end%>
  <%@reg.scrapings.each do |d|%>
    <p><%= d.group_name%></p>
    <%=link_to d.event_title, d.link_url%>
  <%end%>
  
  
</div>