<header class="navbar navbar-fixed-top bg-primary">
  <div class="container">
    <%= link_to "Volunteer app", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home","#", id: "logo2"%></li>
      </ul>
    </nav>
  </div>
</header>